.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 200px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.svg__uwbmg {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-CFJKFMw7QgdQ);
  flex-shrink: 0;
}
.svgstars_zero__uwbmg4KqIg {
  display: none;
}
.svg__ky4U4 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-CFJKFMw7QgdQ);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__ky4U44KqIg {
  display: none;
}
.svgstars_one__ky4U4KRz39 {
  display: none;
}
.svg__qz7Xy {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-CFJKFMw7QgdQ);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__qz7Xy4KqIg {
  display: none;
}
.svgstars_one__qz7XyKRz39 {
  display: none;
}
.svgstars_two__qz7XyMnFd {
  display: none;
}
.svg__gz7Ik {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-CFJKFMw7QgdQ);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__gz7Ik4KqIg {
  display: none;
}
.svgstars_one__gz7IkKRz39 {
  display: none;
}
.svgstars_two__gz7IkMnFd {
  display: none;
}
.svgstars_three__gz7IkpkRjf {
  display: none;
}
.svg__gikel {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-CFJKFMw7QgdQ);
  flex-shrink: 0;
  display: none;
}
.svgstars_zero__gikel4KqIg {
  display: none;
}
.svgstars_one__gikelKRz39 {
  display: none;
}
.svgstars_two__gikelMnFd {
  display: none;
}
.svgstars_three__gikelpkRjf {
  display: none;
}
.svgstars_four__gikelKoaIy {
  display: none;
}
.svg__dPiTp {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-wvO2vSq5On_7);
  flex-shrink: 0;
  display: none;
}
.svgstars_one__dPiTpkRz39 {
  display: none;
}
.svgstars_two__dPiTpmnFd {
  display: none;
}
.svgstars_three__dPiTPpkRjf {
  display: none;
}
.svgstars_four__dPiTpkoaIy {
  display: none;
}
.svgstars_five__dPiTPhEwzz {
  display: none;
}
.svg__uI4W {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-wvO2vSq5On_7);
  flex-shrink: 0;
}
.svgstars_two__uI4WMnFd {
  display: none;
}
.svgstars_three__uI4WPkRjf {
  display: none;
}
.svgstars_four__uI4WKoaIy {
  display: none;
}
.svgstars_five__uI4WHEwzz {
  display: none;
}
.svg__rLKkL {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-wvO2vSq5On_7);
  flex-shrink: 0;
}
.svgstars_three__rLKkLpkRjf {
  display: none;
}
.svgstars_four__rLKkLkoaIy {
  display: none;
}
.svgstars_five__rLKkLhEwzz {
  display: none;
}
.svg__qrPfd {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-wvO2vSq5On_7);
  flex-shrink: 0;
}
.svgstars_four__qrPfdkoaIy {
  display: none;
}
.svgstars_five__qrPfDhEwzz {
  display: none;
}
.svg__pp6S8 {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 14px;
  color: var(--token-wvO2vSq5On_7);
  flex-shrink: 0;
}
.svgstars_five__pp6S8HEwzz {
  display: none;
}
.slotTargetNumReviews {
  font-size: 14px;
  color: var(--token-ZZeHwTuYmXNp);
}
