.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__wpnfc {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__vCncW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: var(--token-j-wofYJm-Xb_);
}
.freeBox__vCncW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vCncW > :global(.__wab_flex-container) > *,
.freeBox__vCncW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vCncW > :global(.__wab_flex-container) > picture > img,
.freeBox__vCncW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___0TprB {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__jdxdA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text___3RDwf {
  position: relative;
  color: var(--token-3f3DKJWTQnNO);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__zgFBu:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__zgFBu:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.productCard___39JA:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__w65R4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__gio36:global(.__wab_instance) {
  position: relative;
}
.text__kcJiG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__z1JeB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__pq47V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__ifWt4 {
  position: relative;
  color: var(--token-3f3DKJWTQnNO);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__p14Q3:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__p14Q3:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__tnaGh:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia___1Gr6L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__rWrMg:global(.__wab_instance) {
  position: relative;
}
.text__uFh7J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__fp291 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uJg5I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__n1Zay {
  position: relative;
  color: var(--token-3f3DKJWTQnNO);
  font-size: 30px;
  font-weight: 500;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gJ5Cs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__oiN0L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__km1Il {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__km1Il > picture > img {
  object-fit: cover;
}
.column__dOjdw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__sJh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__cHwUp {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cHwUp > picture > img {
  object-fit: cover;
}
.column___55Sl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__j0Jqs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ceoFq {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ceoFq > picture > img {
  object-fit: cover;
}
.freeBox__fx9P {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-j-wofYJm-Xb_);
  padding: 48px;
}
.freeBox__fx9P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fx9P > :global(.__wab_flex-container) > *,
.freeBox__fx9P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fx9P > :global(.__wab_flex-container) > picture > img,
.freeBox__fx9P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__dRHc {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__dRHc > picture > img {
  object-fit: cover;
}
.img__wekEk {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__wekEk > picture > img {
  object-fit: cover;
}
.img__netiy {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__netiy > picture > img {
  object-fit: cover;
}
.img___1O4Ty {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img___1O4Ty > picture > img {
  object-fit: cover;
}
.img__ywZur {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__ywZur > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
