.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__keG4 {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__keG4 > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__keG4 > :global(.__wab_flex-container) > *,
.freeBox__keG4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__keG4 > :global(.__wab_flex-container) > picture > img,
.freeBox__keG4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__keG4 {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__tNnHo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tNnHo {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__tNnHOxWymu {
    display: none;
  }
}
.linkButton__iuTfN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__eeXaO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__muOpf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__tuZew:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__zirZf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__ybpie {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__ybpie > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ybpie > :global(.__wab_flex-container) > *,
.freeBox__ybpie > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ybpie > :global(.__wab_flex-container) > picture > img,
.freeBox__ybpie
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink__ev1Gq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___9QuDv {
  position: relative;
  object-fit: cover;
  color: var(--token-PguRBzXLdcdu);
  width: 18px;
  height: 18px;
}
.root .svg___9QuDv:hover {
  color: var(--token--sVWoVbTo2-g);
}
.iconLink__bllUt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gnlOp {
  position: relative;
  object-fit: cover;
  color: var(--token-PguRBzXLdcdu);
  width: 18px;
  height: 18px;
}
.root .svg__gnlOp:hover {
  color: rgb(233, 156, 46);
}
.iconLink__buG48:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cswpk {
  position: relative;
  object-fit: cover;
  color: var(--token-PguRBzXLdcdu);
  width: 18px;
  height: 18px;
}
.root .svg__cswpk:hover {
  color: var(--token--sVWoVbTo2-g);
}
.freeBox__cXkiy {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton__h4DfI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__g1Cc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__gjXOo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___2NzPl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___8GCc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
